body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
header {
  display: grid;
  grid-template-columns: 20% 76%;
  padding: 0 2% .2em 2%;
}

header #backBtn {
    font-size: 2em;
    height: 2em;
}

header h1 {
  margin: 0;
  font-weight: normal;
  font-size: 3em;
}

/* CSS for the Menus */
.menuButtons {
  display:grid;
  grid-column: 1;
  grid-row: 3;
  grid-row-gap: .2em;
  justify-items: center;
}

.menuButtons [type=Button] {
  font-family: inherit;
  width: 96%;
  font-size: 2em;
  padding: .2em 0;
}

.allergiesMenu {
  width: 96%;
  display:grid;
  grid-column: 1;
  grid-row-gap: .2em;
  justify-items: center;
}
.checklistOption {
  font-family: inherit;
  width: 96%;
  font-size: 2em;
  padding: .2em 0px .2em .5em;
  background-color: grey;
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.dietryMenu {
  display:grid;
  grid-column: 1;
  grid-row-gap: .2em;
  justify-items: center;
}

.searchMenu {
  display:grid;
  grid-column: 1;
  grid-row-gap: .2em;
  justify-items: center;
}
/* CSS for the expandable Menus and lists of options for allergies and dietry
some code taken from https://www.w3schools.com/howto/howto_js_accordion.asp
*/
.expandableList {
  font-family: inherit;
  width: 96%;
  font-size: 2em;
  padding: .2em 0px .2em .5em;
  background-color: grey;
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;

}

.active, .expandableList:hover {
    background-color: #ccc;
}

.expandableContent {
  display: none;
  grid-column: 1;
  font-family: inherit;
  width: 90%;
  padding: .2em .2em 2% 0;
  grid-row-gap: .2em;
}

.hidden {
  display: none;
}
