body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
header {
  display: grid;
  grid-template-columns: 20% 76%;
  padding: 0 2% .2em 2%;
}

header #backBtn {
    font-size: 2em;
    height: 2em;
}
header h1 {
  margin: 0;
  font-weight: normal;
  font-size: 3em;
}
/* CSS for the Menus */
.menuButtons {
  display:grid;
  grid-column: 1;
  grid-row: 3;
  grid-row-gap: .2em;
  justify-items: center;
}

.menuButtons [type=Button] {
  font-family: inherit;
  width: 96%;
  font-size: 2em;
  padding: .2em 0;
}

.allergiesMenu {
  display: none;
}

.dietryMenu {
  display: none;
}

.searchMenu {
  display: none;
}
/* CSS for the expandable Menus
taken from https://www.w3schools.com/howto/howto_js_accordion.asp
*/
.expandableList {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.expandableContent {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
